/*
Tutorial Name: Scroll To Top Then Fixed Navigation Effect With JQuery and CSS
Description: Create a sticky navigation bar that remains fixed to the top after scroll
Author: Stanislav Kostadinov
Author URI: http://stanislav.it
Version: 1.0.0 - 11.01.2014
*/

* {margin: 0; padding: 0;}

a {text-decoration: none;}

/* This class is added on scroll */
.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
}

body {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	text-align: center;
	max-width: 100%;
	min-width: 25%;
	background: #270000;
}


/* Font Face Settings */
@font-face {
    font-family: 'open-sans-bold';
	src: url('../fonts/open-sans/OpenSans-Bold.eot');
    src: url('../fonts/open-sans/OpenSans-Bold.eot?iefix') format('embedded-opentype'),
		 url('../fonts/open-sans/OpenSans-Bold.ttf');
    font-weight: normal;
}	

/* Navigation Settings */
nav {
	position: top;
	bottom: 50vh;
	width: 100%;
	height: 55px;
	background: #ededed;
}

nav li {
	display: inline-block;
	padding: 24px 10px;
}

nav li a {
	color: #656565;
	text-transform: uppercase;
}

/*section {
	height: 100vh;
}*/

/* Screens Settings */
#screen1 {	
	background: rgb(217,71,97);
	height: 50vh;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-style: groove;
	border-color: #ffffff;
}

#screen1 p {
	padding-top: 200px;
}

#screen2 {
	/*background: #0f2bff;*/
	background: #2075fc;
	height: 200vh;
	padding-top: 50px;
	margin-left: 200px;
	margin-right: 200px;
	border-style: double;
	border-color: #ffffff;
	color: #343434;
	}

#screen3 {
	background: #ffffff;
	height: 100%;
	width: 200px;
}

p{
	padding-left: 50px;
}
@media only screen and (max-width: 520px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 14px;
	}

}

h1{
	font-size: 48px;	
}
.gtco-container {
  max-width: 1100px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}